{% extends 'jobs/base.html' %}

{% block content-title %}Tworzenie zadania{% endblock %}

{% block content %}
	<script>
		function onSendEmailChange() {
			$('#emaildateblock').stop();
		    if ($("input[name=sendemail]").is(":checked"))
		    	$('#emaildateblock').fadeIn();
		    else
	    		$('#emaildateblock').fadeOut();
		}

		$(document).ready(function() {
			onSendEmailChange();
			$("input[name=sendemail]").change(onSendEmailChange);
		});
	</script>
	
	<style>
		textarea[name=description] {
			width: 50%;
			max-width: 100%;
		}
		input[type=datetime-local] {
			width: 50%;
		}
	</style>

	<form action="{% url 'jobs:addsubmit' %}" method="post">
		{% csrf_token %}

		<label class="control-label" for="title">Tytuł zadania</label>
		<input type="text" class="form-control" name="title" required autofocus />

		<br/>
		
		<label class="control-label" for="description">Opis zadania</label>
		<textarea class="form-control" name="description" rows="3"></textarea>

		<br/>
		
		<label class="control-label" for="date">Data zadania</label>
		<input type="datetime-local" class="form-control" name="date" />

		<br/>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="sendemail">
				Wysłać email z przypomnieniem?
			</label>
		</div>

		<br/>
		
		<div id="emaildateblock" style="display:none">
			<label class="control-label" for="emaildate">Data emaila<br/></label>
			<input type="datetime-local" class="form-control" name="emaildate" />
		</div>

		<br/>
		
		<button class="btn btn-success" type="submit">Dodaj zadanie</button>
	</form>
{% endblock %}